In [50]:
import pandas as pd

In [51]:
 df = pd.read_csv('cars.csv')

In [52]:
df.head()

,Unnamed: 0,Title,Mileage,Price,deal_status,Features,Rating,Rating-Count
0,0,2013 Toyota FJ Cruiser Base,"83,448 mi.","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews)
1,1,2013 Toyota FJ Cruiser Base,"83,448 mi.","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews)
2,2,2022 Hyundai Santa Fe XRT,"3,244 mi.","$34,941",Home Delivery,Nan,5.0,"(3,368 reviews)"
3,3,2022 Mercedes-Benz GLC 300 Base 4MATIC,0 mi.,"$53,660",Home Delivery,Nan,4.6,(921 reviews)
4,4,2021 Mercedes-Benz GLC 300 Base 4MATIC,"7,658 mi.","$47,969",Home Delivery,Nan,5.0,"(1,516 reviews)"

In [53]:
df.tail()

,Unnamed: 0,Title,Mileage,Price,deal_status,Features,Rating,Rating-Count
6880,6880,2022 Porsche Taycan Cross Turismo Turbo S,"1,866 mi.","$229,000",Fair Deal,"headlight control - auto highbeam, keyless ent...",4.4,(48 reviews)
6881,6881,2019 Cadillac XT4 Premium Luxury,"32,678 mi.","$35,500",Good Deal | $483 under,"keyless entry, headlight control - auto highbe...",4.1,(156 reviews)
6882,6882,2014 Mercedes-Benz GL-Class GL 63 AMG,"92,191 mi.","$34,299","Great Deal | $7,391 under","keyless entry, Automatic Emergency Braking, dr...",3.5,(309 reviews)
6883,6883,2018 Lexus RX 350L Premium,"27,140 mi.","$37,995","Great Deal | $4,534 under","Tow Hitch, Premium Sound System",5.0,"(2,583 reviews)"
6884,6884,2022 INFINITI Q50 SENSORY,"7,835 mi.","$43,908",Good Deal,"Keyless Start, keyless entry, headlight contro...",4.5,(222 reviews)

In [54]:
df.shape

(6885, 8)

In [55]:
df.columns

Index(['Unnamed: 0', 'Title', 'Mileage', 'Price', 'deal_status', 'Features',
       'Rating', 'Rating-Count'],
      dtype='object')

In [56]:
df['Rating-Count'].astype('string')

0         (959 reviews)
1         (959 reviews)
2       (3,368 reviews)
3         (921 reviews)
4       (1,516 reviews)
             ...
6880       (48 reviews)
6881      (156 reviews)
6882      (309 reviews)
6883    (2,583 reviews)
6884      (222 reviews)
Name: Rating-Count, Length: 6885, dtype: string

In [57]:
df['Rating_Count'] =  df['Rating-Count'].apply(lambda x : x.strip('(').strip(')'))

In [58]:
df['Rating_Count'] =  df['Rating-Count'].apply(lambda x : x.strip('reviews'))

In [59]:
df.head()

,Unnamed: 0,Title,Mileage,Price,deal_status,Features,Rating,Rating-Count,Rating_Count
0,0,2013 Toyota FJ Cruiser Base,"83,448 mi.","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews),(959 reviews)
1,1,2013 Toyota FJ Cruiser Base,"83,448 mi.","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews),(959 reviews)
2,2,2022 Hyundai Santa Fe XRT,"3,244 mi.","$34,941",Home Delivery,Nan,5.0,"(3,368 reviews)","(3,368 reviews)"
3,3,2022 Mercedes-Benz GLC 300 Base 4MATIC,0 mi.,"$53,660",Home Delivery,Nan,4.6,(921 reviews),(921 reviews)
4,4,2021 Mercedes-Benz GLC 300 Base 4MATIC,"7,658 mi.","$47,969",Home Delivery,Nan,5.0,"(1,516 reviews)","(1,516 reviews)"

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6885 entries, 0 to 6884
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6885 non-null   int64
 1   Title         6885 non-null   object
 2   Mileage       6885 non-null   object
 3   Price         6885 non-null   object
 4   deal_status   6797 non-null   object
 5   Features      6885 non-null   object
 6   Rating        6885 non-null   object
 7   Rating-Count  6885 non-null   object
 8   Rating_Count  6885 non-null   object
dtypes: int64(1), object(8)
memory usage: 484.2+ KB

In [61]:
df[df['Features'] == 'Nan'].count()

Unnamed: 0      2511
Title           2511
Mileage         2511
Price           2511
deal_status     2487
Features        2511
Rating          2511
Rating-Count    2511
Rating_Count    2511
dtype: int64

In [62]:
df['Rating_Count'] =  df['Rating-Count'].apply(lambda x : x.strip('(').strip(')'))

In [63]:
df['Rating_Count'] =  df['Rating_Count'].apply(lambda x : x.strip('reviews'))

In [64]:
df['Mileage'] = df['Mileage'].apply(lambda x : x.strip('mi.'))

In [65]:
df['Mileage'] = df['Mileage'].apply(lambda x : x.strip(','))

In [76]:
df['Title'] = df['Title'].astype('string')

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6885 entries, 0 to 6884
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    6885 non-null   int64
 1   Title         6885 non-null   string
 2   Mileage       6885 non-null   object
 3   Price         6885 non-null   object
 4   deal_status   6797 non-null   object
 5   Features      6885 non-null   object
 6   Rating        6885 non-null   object
 7   Rating-Count  6885 non-null   object
 8   Rating_Count  6885 non-null   object
dtypes: int64(1), object(7), string(1)
memory usage: 484.2+ KB

In [78]:
df['Year'] = (df['Title'].str.extract(r'(?P<Year>\d+(?:\.\d+)?)')
                 .applymap(str.strip))

TypeError: descriptor 'strip' for 'str' objects doesn't apply to a 'NAType' object

In [33]:
df.head()

,Unnamed: 0,Title,Mileage,Price,deal_status,Features,Rating,Rating-Count,Rating_Count
0,0,2013 Toyota FJ Cruiser Base,"83,448","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews),959
1,1,2013 Toyota FJ Cruiser Base,"83,448","$29,115","Great Deal | $2,335 under",Nan,4.3,(959 reviews),959
2,2,2022 Hyundai Santa Fe XRT,"3,244","$34,941",Home Delivery,Nan,5.0,"(3,368 reviews)","3,368"
3,3,2022 Mercedes-Benz GLC 300 Base 4MATIC,0,"$53,660",Home Delivery,Nan,4.6,(921 reviews),921
4,4,2021 Mercedes-Benz GLC 300 Base 4MATIC,"7,658","$47,969",Home Delivery,Nan,5.0,"(1,516 reviews)","1,516"